# Environment secrets
.env
.env.*
*.env

# SAM build artifacts
.aws-sam/

# Python venv
venv/

# Python cache files
__pycache__/
*.py[cod]

# OS files
.DS_Store
Thumbs.db

# Jupyter/IPython
.ipynb_checkpoints/

# PowerShell scripts
*.ps1

# VSCode
.vscode/

# Output artifacts
summarized_output.json
test_output.json
tweet_threads.csv
tweet_threads.json
tweets_output.json
tweets_output.csv

# old requirements
requirements-beforechill.txt
requirements-windev.txt